body{
    background-color: rgb(18, 13, 6);
    
}

/*Toujours en haut de page*/
#divtop{
    position: absolute;
    height: 2em;
    width: 100%;
    right:1px;
    background-color: #2c2a2aaf;
    top: 0;
}

#div1{
    top: 2em;
    position: relative;
    text-align: center;
}

h1{
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    transition: 0.3s;
}

h1:hover{
    transform: scale(1.1) ;
    transition: 0.3s;
}

h2{
    color: orange;
}

/*Toujours en bas de page */
#bottom-page{
        position: absolute;
        height: 7em;
        width: 100%;
        right:1px;
        background-color: #2c2a2aaf;
        bottom: 0;
}

#nom{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: orange;
}

#copyright{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#g1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 120px;
    left: 320px;
    display: inline;
    font-size: 50px;
    transform: rotate(-5deg);
    color: rgba(128, 128, 128, 0.1);
}
#g2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 420px;
    left: 620px;
    display: inline;
    font-size: 50px;
    transform: rotate(30deg);
    color: rgba(128, 128, 128, 0.07);
}
#g3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: -40px;
    left: 1220px;
    display: inline;
    font-size: 50px;
    transform: rotate(-35deg);
    color: rgba(128, 128, 128, 0.108);
}
#g4{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 320px;
    left: -10px;
    display: inline;
    font-size: 50px;
    transform: rotate(65deg);
    color: rgba(128, 128, 128, 0.192);
}
#g5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 520px;
    left: 1020px;
    display: inline;
    font-size: 50px;
    transform: rotate(-35deg);
    color: rgba(128, 128, 128, 0.06);
}
#g6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 220px;
    left: 1420px;
    display: inline;
    font-size: 50px;
    transform: rotate(-135deg);
    color: rgba(128, 128, 128, 0.06);
}
#g7{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: -60px;
    left: 20px;
    display: inline;
    font-size: 50px;
    transform: rotate(-135deg);
    color: rgba(128, 128, 128, 0.06);
}